/** Basic config file **/

configuration {
  modi: "window,drun,ssh,combi";
  show-icons:         true;
  icon-theme:         "Papirus";
  combi-modi: "window,drun,ssh";
  font: "MesloLGS Nerd Font 11";
}

@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
